<% include  Partials/header.ejs %>
	<h2 style="text-align:center; margin-top:20px">Create a New Awe Spot</h2>

	<div style="width:30% ; margin:20px auto">
		<form action="/spot" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="name" placeholder="name">
			</div>
			<div class="form-group">
				<input class="form-control" type="number" name="budget" placeholder="budget">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="image" placeholder="image url">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="desc" placeholder="short description">
			</div>
			<div class="form-group">
				<button class="btn btn-dark btn-lg btn-block">Submit!</button>
			</div>
		</form>
		<a href="/spot">Go Back</a>
	</div>

